extends layout

block content
  #page
    #marketing.container
      .row
        div(class="12u")
          section
            header 
              h2 Statistics about COVID-19 from John Hopkins University data api   
            
            
