extends layout

block content
  #page
    #marketing.container
      .row
        div(class="12u")
          section
            header 
              h2 About CICV project 
              p
                a(href="https://github.com/jasonbui95/CICV") CICV GitHub 
                | will be available soon!
              p Developed by Quan Bui.  
              img(src="/images/builogo.png" width="40px", height="30px")
            
            
