extends layout

block content
  #page
    #marketing.container
      .row
        div(class="12u")
          section
            header 
              h2 Contact Details
              p For inquiries, please send me emails at 
                a(href="mailto:basonjui@gmail.com") basonjui@gmail.com
    
